@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center center;
    background-color: black;
}

#game-area {
    border: solid black 1px;
    background-color: slategray;
    width: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#game-board {
    /* border: 1px solid red; */
    height: 40rem;
    display: grid;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(14, 1fr);
}
#score-board {
    display: flex;
    justify-content: space-around;
    padding: 0.6rem;
    font-family: 'VT323', monospace;
}


#player {
    background: url("/assets/images/retro_developer.png") no-repeat center center/contain;
    grid-row-start: 13;
    grid-row-end: span 2;
    grid-column-start: 7;
    grid-column-end: span 1;
    z-index:1;
}

.enemy {
    grid-row-end: span 2;
    grid-column-end: span 1;
}

.manager {
    background: url("/assets/images/angry-boss.png") no-repeat center center/cover;
}

.hr {
    background: url("/assets/images/angry-boss.png") no-repeat center center/cover;
}

.ceo {
    background: url("/assets/images/angry-boss.png") no-repeat center center/cover;
}

.mouse {
    background: url("/assets/images/mouse.png") no-repeat center top;
    /* background-image: url("/assets/images/mouse.png");
    background-repeat: no-repeat; */
    background-size: contain;
    /* width: 25%;
    height: 75%; */
}

.keyboard {
    background: url("/assets/images/keyboard.png") no-repeat center top;
    background-size: contain;
    /* margin-left: 37.5%; */
}

.computer {
    background: url("/assets/images/computer.png") no-repeat center top;
    background-size: contain;
}
.coffee {
    background: url("/assets/images/coffee.png") no-repeat center top;
    background-size: contain;
    /* margin-left: 37.5%; */
}
