@import url('https://fonts.googleapis.com/css2?&family=Play&family=Press+Start+2P&family=VT323&display=swap');

/* {
    color: #85EB40;
    color: #F5DF7E;
    color: #B6967C;
    color: #CCDCF5;
    color: #6C40EB;
} */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #6C40EB;
}

@font-face {
    font-family: 'BN Machine';
    src: url(../fonts/BNMachine.ttf);
}


header {
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
}

header h1 {
    letter-spacing: 5px;
}

main {
    flex: 1 auto;
    padding: 3rem;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 2(1fr);
    grid-column-gap: 1.5rem;
    background-color: #CCDCF5;
}

article {
    padding: 0 2rem;
}

footer {
    text-align: right;
    flex-shrink: 0;
    display: grid;
    place-content: center center;
    height: 10%;
    padding: 1rem;
}

header,footer {
    background-color: #6C40EB;
}

h1 {
    font-family: 'BN Machine', sans-serif;
    font-size: 3.4rem;
    margin: 0;
    letter-spacing: .1rem;
    color: #85EB40;
    margin-bottom: 0.5rem;
    -webkit-text-stroke: 1px black;
        text-shadow:
            3px 3px 0 #000,
          -1px -1px 0 #000,  
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000;
}

h2, button, h3, h4 {
    font-family: 'Press Start 2P', cursive;
}

h4 {
    font-size: 2.5rem;
}

h3 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

footer a {
    color: #CCDCF5;
}


p, article > ul {
    font-family: 'Play', sans-serif;
    font-size: 1.2rem;
}

button {
    display: block;
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border-bottom: 0.25rem solid black;
    background-color: #B6967C;
}

button:hover {
    cursor: pointer;
    font-weight: bolder;
    border-bottom: 0.4rem solid black;
}

button#play-btn {
    background-color: #85EB40;
}

button#return-btn {
    margin-top: 2rem;
}

a#home-btn {
    color: #CCDCF5;
}
a#home-btn:hover {
    color: #85EB40;
}

#content {
    grid-area: 1/2/3/3;
}

#content > article > ul {
    list-style-type: none;
}

#content > article {
    position: relative;
}

#game-subtitle {
    color: #CCDCF5;
    font-size: 1.2rem;
}

#hero-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#game-area {
    background-color: #6C40EB;
    background:url("../images/office_bg.png") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
}

#score-board {
    width: 100vmin;
    height: 10%;
    margin-top: 2rem;
    display: grid;
    justify-self: center;
    grid-auto-flow: column;
    align-content: end;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
    /* font-family: 'VT323', monospace; */
    color: black;
    letter-spacing: 1px;
}

#game-board {
    background-color: #B6967C;
    outline: 2px solid black;
    width: 100vmin;
    height: calc(100vmin - 20%);
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

#socials {
    width: 100vmin;
    height: 10%;
    margin-bottom: 1%;
    display: grid;
    justify-self: center;
    align-self: end;
    grid-auto-flow: column;
    align-content: start;
    justify-content: center;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
    font-size: 200%;
}

#socials a {
    color: black;
}

footer > #socials {
    width: 100%;
    height: auto;
}

#socials a:hover {
    color: #CCDCF5;
}

.fa-facebook, .fa-github,
.fa-youtube-square {
    padding-right: 1rem;
}

.start-message {
    font-family: 'VT323', monospace;
    grid-row-start: 7;
    grid-row-end: span 3;
    grid-column-start: 5;
    grid-column-end: span 7;
    letter-spacing: 2px;
    font-size: 200%;
}

#player {
    background: url("../images/retro_developer.png") no-repeat center center/contain;
    grid-row-start: 13;
    grid-row-end: span 2;
    grid-column-start: 7;
    grid-column-end: span 1;
    z-index:1;
}

.hero-character {
    height: 20rem;
    width: auto;
}

.enemy {
    grid-row-end: span 2;
    grid-column-end: span 1;
}

.manager {
    background: url("../images/manager.png") no-repeat center center/contain;
}

.hr {
    background: url("../images/hr.png") no-repeat center center/contain;
}

.ceo {
    background: url("../images/ceo.png") no-repeat center center/contain;
}

.mouse {
    background: url("../images/mouse.png") no-repeat center top/contain;
}

.keyboard {
    background: url("../images/keyboard.png") no-repeat center top/contain;
}

.computer {
    background: url("../images/computer.png") no-repeat center top/contain;
}

.coffee {
    background: url("../images/coffee.png") no-repeat center top/contain;
}

#game-paused{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.hidden{
    display: none;
}


@media screen {
    
}