@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center center;
    
}

#game-area {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
}

#game-board {
    background-color: slategray;
    width: 100vmin;
    height: calc(100vmin - 20%);
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

#score-board {
    width: 100vmin;
    height: 10%;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    font-family: 'VT323', monospace;
    color: red;
    letter-spacing: 1px;
    margin-top: 2.5%;
    font-size: 150%;
}

.score-title {
    padding-top: 1%;
}

.start-message {
    font-family: 'VT323', monospace;
    grid-row-start: 7;
    grid-row-end: span 3;
    grid-column-start: 5;
    grid-column-end: span 7;
    letter-spacing: 2px;
    font-size: 200%;
}

#player {
    background: url("../images/retro_developer.png") no-repeat center center/contain;
    grid-row-start: 13;
    grid-row-end: span 2;
    grid-column-start: 7;
    grid-column-end: span 1;
    z-index:1;
}

.enemy {
    grid-row-end: span 2;
    grid-column-end: span 1;
}

.manager {
    background: url("../images/angry-boss.png") no-repeat center center/cover;
}

.hr {
    background: url("../images/angry-boss.png") no-repeat center center/cover;
}

.ceo {
    background: url("../images/angry-boss.png") no-repeat center center/cover;
}

.mouse {
    background: url("../images/mouse.png") no-repeat center top;
    background-size: contain;
}

.keyboard {
    background: url("../images/keyboard.png") no-repeat center top;
    background-size: contain;
}

.computer {
    background: url("../images/computer.png") no-repeat center top;
    background-size: cover;
    grid-row-end: span 2;
    grid-column-end: span 2;
}

.coffee {
    background: url("../images/coffee.png") no-repeat center top;
    background-size: contain;
}
